@import "tailwindcss";

@theme {
  --color-pageBg: #121212;
  --color-bodyText: #FFF7F1;
  --color-headingText: #FFF7F1;
  --color-charcoal: #323232;
  --color-beige: #E0C9B8;
  --color-gold: #CAA286;

  --font-body: "Montserrat", sans-serif;
  --font-heading: "Limelight", cursive;
}

body {
  background-color: var(--color-pageBg);
  color: var(--color-bodyText);
  font-family: var(--font-body);
}
